*{
    font-family: sans-serif;
    margin: 0px;
}

/* Scroll Bar */
html::-webkit-scrollbar{
 width: 0.8vw;
}

html::-webkit-scrollbar-thumb{
    background-color: #00a5ec;
    border-radius: 0.4vw;
}

html::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

body{
    background-color: #f1f1f1;
}

/* Navbar */
.navbar{
    background-color: #ffffff;
    height: 72px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navlogo{
    width: 113px;
    height: 31px;
    margin-left: 50px;
}
.navlink{
    margin-left: 50px;
}

.link{
    text-decoration: none;
    color: #484848;
    font-weight: 600;
    margin: 0px 30px;
}


/* Upload Container */
.uploadContainerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadContainerdivtitle{
    color: #333333;
    font-size: 28px;
    font-weight: 600;
    margin: 72px 0px 48px;
}

.uploadContainer{
background-color: #ffffff;
display: flex;
flex-direction: column;
width: 60%;
border-radius: 8px;
padding: 2% 5%;
margin: auto;
}

/* Heading */
.uploadContainertitle{
text-align: center;
color: #333333;
font-size: 22px;
padding-bottom: 10px;
border-bottom: solid 2px black;
margin-bottom: 20px;
}

/* Form */

/* Input elements */
.type1Input{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}

.elm{
display: flex;
flex-direction: column;
margin: 5px 0px;
}

.elm1{
width: 30%;
}

.elm2{
width: 100%;
}

.label{
font-size: 0.7rem;
color: #040404;
font-weight: 600;
}

.input{
border-style: none none solid none;
border-bottom-color: black;
border-bottom-width: 2px;
margin-top: 5px;
background-color: #ffffff;
}

.input2{
resize: vertical;
}

/* Submit and reset elements */
.submitandReset{
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin: 30px 0px;
}

.button{
background-color: #00a5ec;
height: 40px;
width: 120px;
border: 2px solid  #00a5ec;
border-radius: 20px;
margin: 0px 50px;
color: #EEF5FF;
font-weight: 600;
}

.button:hover{
cursor: pointer;
}

/* Fetch Container */
.fetchContainer{
background-color: #eef6ff;
display: flex;
flex-direction: column;
align-items: center;
padding: 72px 5%;
margin: 0px;
}

.fetchContainertitle{
color: #333333;
font-size: 28px;
font-weight: 600;
margin-bottom: 48px;
}

.job{
color: #8a8a8a;
background-color: #ffffff;
width: 100%;
padding: 10px 0px 20px;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px;
}

.slotA{
width: 90%;
padding: 10px 0%;
border-bottom: 2px solid #eeeeee;
margin-bottom: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.role{
font-size: 1.2rem;
font-weight: 500;
margin: 2px 0px;
color: #333333;
}

.company{
font-size: 1rem;
font-weight: 500;
}

.jobtype{
color: #666666;
background-color: #eeeeee;
padding: 8px;
border-radius: 5px;
}

.slotB{
width: 90%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.slotB1{
width: 20%;
}

.slotB2{
width: 73%;
padding: 0px 3%;
border-left: 2px solid #eeeeee;
}

.caption{
font-size: 0.9rem;
font-weight: 500;
color: #222222;
margin: 5px 0px;
}

.footpanel{
    background-color: #333333;
    text-align: center;
    padding: 20px;
}

.backtotop{
    color: #ffffff;
    text-decoration: none;
}

